* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 100%;
    height: 100%;
}
/* -------------------------HEADER------------------------------ */
header{
    vertical-align: top;
    padding: 1% 1% 5% 1%;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;

}
nav ul{
    display: flex;
}
nav li{
    padding: 0 1%;
    flex-grow: 1;
}

.network{
    display: flex;
    justify-content: center;
    padding: 0% 1%;
}

.network i{
    padding: 0% 10%;
}

ul {
    list-style-type: none;
}
ul a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}

/* --------------------------HOME CONTAINER---------------------- */

#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2% 3%;
    gap: 20px;
}

#home-startup{
    flex: 1;
    font-size: 1em;
    text-align: left;
}
#home-startup h2{
    font-size: 2.5em;
}
/* ------------------------SUBSCRIBE-------------------------- */

input[type="text"]{
    position: relative;
    width: 100%;
    background: #fff;
    border: none;
    /* outline: none; */
    padding: 1% 1%;
    border-radius: 25px 25px 25px 25px;

}
input[type="submit"]{
    position: absolute;
    background: #1294b8 ;
    border: none;
    padding: 1% 1%;
    border-radius: 25px 25px 25px 25px;
}

.subscribe, h2, p{
    padding: 0% 2%;
}

/* ------------------ILLUSTRATION-------------------------------------- */
#home-illustration{
    flex: 2;
}

#home-illustration img{
    width: 300px;
}
