* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
#home{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);

}
/* -------------------------HEADER------------------------------ */
header{
    width: 100%;
    padding: 1% 1% 5% 1%;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;

}
nav ul{
    display: flex;
}
nav li{
    padding: 0 2%;
}

.network{
    display: flex;
    justify-content: center;
    padding: 0% 1%;
}
.network a{
    padding: 0 15%;

}
ul {
    list-style-type: none;
}
ul a, .network i {
    text-decoration: none;
    color: white;
    opacity: 1;
}

li {
    display: inline;
}

/* --------------------------HOME CONTAINER---------------------- */

#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2% 3%;
    gap: 100px;
}

#home-startup{
    flex: 1;
    font-size: 1em;
    padding: 0% 2%;
}
#home-startup h2{
    font-size: 2.5em;
}
h2, #home-startup p{
    padding: 5% 2%;
}


/* ------------------------SUBSCRIBE-------------------------- */
.subscribe {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    padding: 1% 1%;
}
input[type="text"]{
    padding: 2%;
    border-radius: 25px 25px 25px 25px;
    border: none;
    outline: none;

}
input[type="submit"]{
    background: #1294b8 ;
    color: white;
    border: none;
    padding: 2% 2%;
    border-radius: 25px 25px 25px 25px;
}


/* ------------------ILLUSTRATION-------------------------------------- */
#home-illustration{
    flex: 2;
}

#home-illustration img{
    width: 80%;
}


/* -------------------effets visuels-------------------------- */

.network i:hover, li:hover, input[type='submit']:hover {
    opacity: 0.5;
}

.network i, li, input {
    transition: 0.5s;
}

/* -------------------------------------deuxième section------------------------ */

#products-features{
    text-align: center;
    padding: 3% 5%;

}


#features{
    min-height: 50vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 20px;
}

.card{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 300px;
    border-radius: 10px;
    transition: 0.5s;

}
.card-text {
    padding: 15% 10%;
    color: white;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 15% 0 0 0;
    transition: 0.5s;
    color: white;
}

.card:hover{
    transform: translateY(-10px);
}

#products-features p{
    color: grey;
}