* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

#wrapper{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
#home{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);

}
/* ---------------------------------------HEADER------------------------------------------------ */
header{
    width: 100%;
    padding: 1% 1% 5% 1%;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;

}
nav ul{
    display: flex;
}
nav li{
    padding: 0 2%;
}

.network{
    display: flex;
    justify-content: center;
    padding: 0% 1%;
}
.network a{
    padding: 0 15%;

}
nav ul {
    list-style-type: none;
}
ul a, .network i {
    text-decoration: none;
    color: white;
    opacity: 1;
}

nav li {
    display: inline;
}

/* --------------------------HOME CONTAINER---------------------- */

#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2% 3%;
    gap: 100px;
}

#home-startup{
    flex: 1;
    font-size: 1em;
    padding: 0% 2%;
}
#home-startup h2{
    font-size: 2.5em;
}
h2, #home-startup p{
    padding: 5% 2%;
}


/* --------------------SUBSCRIBE--------------------- */
.subscribe {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    padding: 1% 1%;
}
input[type="text"]{
    padding: 2%;
    border-radius: 25px 25px 25px 25px;
    border: none;
    outline: none;

}
input[type="submit"]{
    background: #1294b8 ;
    color: white;
    border: none;
    padding: 2% 2%;
    border-radius: 25px 25px 25px 25px;
}


/* ------------------ILLUSTRATION-------------------------------------- */
#home-illustration{
    flex: 2;
}

#home-illustration img{
    width: 80%;
}


/* -------------------effets visuels-------------------------- */

.network i:hover, nav li:hover, input[type='submit']:hover {
    opacity: 0.5;
}

.network i, li, input {
    transition: 0.5s;
}

/* -------------------------------------------------------------------------------deuxième section PRODUCTS FAETURES----------------------------------------------- */

#products-features{
    text-align: center;
    padding: 10% 5%;
}


#features{
    min-height: 50vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 20px;
    padding: 0 0 10% 0;
}

.products-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 300px;
    border-radius: 10px;
    transition: 0.5s;

}
.card-text {
    padding: 15% 10%;
    color: white;
    text-align: center;
}

.products-logo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 15% 0 0 0;
    transition: 0.5s;
    color: white;
}

.products-card:hover{
    transform: translateY(-10px);
}

#products-features p{
    color: grey;
}

/* ----------------------------------------------------------------------------------troisième section EQUIPE---------------------------------------------------- */
#team{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8% 0;
}

#team-description{
    text-align: center;
    padding: 1% 25%;
}
#team-description h3{
    padding: 2% 0;
}




/* Je mets la team-card en relative pour qu'il devienne le parent de la class team-network */
.team-card{
    position: relative;
    overflow: hidden;
}

.team-network{
    position: absolute;
    bottom: 170px;
    left: -30px;
    transition: 1s;
}
/* bottom 170 et left -50 pour que les icones se trouvent à coté de l'image, elles disparaissent grace au overflow hidden du parent */


.picture-network img{
    padding: 5% 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: grayscale(1);
    transition: 1s;
}


.team-card p, .team-card h4, .team-card h5{
    text-align: center;
}

.team-card>p, #team-description>p{
    opacity: 0.5;
}

.team-network a{
    text-decoration: none;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

    /* effets sur les photos et sur les icones des reseaux sociaux */

.picture-network:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}

.picture-network:hover .team-network{
    bottom: 120px;
    left: 15px;
}

/* --------------------------------------------------------------------------------quatrième section PARALLAX------------------------------------------------------------------- */

#parallax{
    padding: 10% 5%;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)) ,url("./parallax.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

#parallax h3, #parallax p{
    padding: 1% 0;
    color: white;
}

#parallax button{
    margin: 5% 0 0 0;
    width: 120px;
    height: 40px;
    border-radius: 5px 5px 5px 5px ;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.5s;
}
/* effet sur le bouton */

#parallax button:hover{
    background-color: white;
    color: black;
    transform: translateY(-5px);
    

}

/* --------------------------------------------------------------------------------cinquième section blog--------------------------------------------------- */

#our-blog{
    text-align: center;
    padding: 8% 2%;
}

#blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 3vw 10vw;
    gap : 5vw;
}
.card-blog{
    position: relative;
    text-align: center;
    padding: 2% 0;
    
}


.card-blog figure{
    width: 100%;
    border-radius: 5px ;
    position: relative;
    overflow: hidden;   
}
.card-blog img{
    width: 100%;
}

.card-blog figcaption{
    top: 0;
    text-align: left;
    position: absolute;
    color: white;
    padding-top: 40px;
    padding-left: 30px;
    width: 100%;
    height: 100%;
    transition: 1s;
    cursor: pointer;
}


.card-blog h5, .card-blog p, .card-blog a{
    padding: 5px 0;
    text-align: left;
}

.description{
    opacity: 0.5;
}

.card-blog a{
    display: flex;
    text-decoration: none;
    color: #1294b8;
    font-weight: bold;
}

.user, .time {
    display: inline-flex;
    align-items: center;
    opacity: 0;
    transition: 1s;
    /* je le cache pour le faire apparaitre seulement au hover */
}

.user p, .time p{
    padding: 2% 3px;
}

.user{
    font-weight: bold;
}



/* -----------effets visuels------ */


.card-blog figcaption:hover{
    background-color: rgba(0, 0, 0, 0.35);
}

.card-blog figcaption:hover .user{
    opacity: 1;
}
.card-blog figcaption:hover .time{
    opacity: 1;
}

/* --------------------------------------------------------------------------------sixième section pricing--------------------------------------------------- */

#pricing{
    background-color: #f3f3f3;
    padding: 2% 3%;
}

#our-pricing{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 2% 3%;
    gap: 10vw;
}
#pricing-description{
    font-size: large;
    flex: 1;
}

#pricing-design{
    flex: 1;
}

#pricing-design img {
    width: 80%;
    height: 50%;
}

.pricing-number{
    display: flex;
}

#our-pricing h3{
    font-weight: bolder;
    padding: 0 0 2vh 0;
}
#our-pricing h4{
    padding: 3vh 0 1vh 0;
}

#our-pricing button{
    margin: 3vh 0;
    padding: 1% 2%;
    background-color: #5a8fff;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    border: 1px solid #5a8fff;
}

.number{
    padding: 0 3% 0 0;
}
#pricing-description>p{
    opacity: 0.5;
}

/* -------pricing card---- */

#pricing-header{
    text-align: center;
    padding: 0 0 4% 0;
}
#pricing-header h3{
    font-size: x-large;
}


#cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pricing-card, .pricing-card-sale{
    padding: 2% 2%;
    background-color: white;
    width: 300px;
    height: 400px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}
.pricing-card ul, .pricing-card-sale ul{
    list-style-type: none;
}

.service{
    display: flex;
    justify-content: space-between;
}

.service li{
    display: flex;
    /* align-items: center; */
}

i[class="fa-regular fa-circle-check"]{
    color: green;
}

i[class="fa-regular fa-circle-xmark"]{
    color: red;
}

/* .right-size>li{
    text-align: end;
} possible si service li pas en flex */

.pricing-card button, .pricing-card-sale button{
    margin: 3vh 0;
    padding: 1% 2%;
    background-color: #5a8fff;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    border: 1px solid #5a8fff;
}

.pricing-card-sale{
    position: relative;
}
#sale{
    background-color: #5a8fff;
    width: 20%;
    height: 15%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;

}